<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Cassandra Browser</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"  class="active"><a href="keyspace/list">Column Families</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Cassandra Browser</h3>
        </div>

        <div class = "container">
          <h2>Create Column Family : </h2>
          <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">Column Name</label>
                <input class="form-control" id="nameexampleInputName2" placeholder="Jane Doe" type="text">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Column Type</label>
                <input class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com" type="email">
            </div>
            <button type="submit" class="btn btn-primary">Send invitation</button>
            </form>
        </div>
        
      
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>
