<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Cassandra Browser</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <style type="text/css">
    .modal_spin {
      display:    none;
      position:   fixed;
      z-index:    1050;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      background: rgba( 255, 255, 255, .8 ) 
                  url('http://i.stack.imgur.com/FhHRx.gif') 
                  50% 50% 
                  no-repeat;
    }
    </style>
<script>

$(document).ready(function(){
    $("#cteEntryFunc").click(function(){
      $(".modal_spin").css("display","block" );
      $.ajax({
        url: "/keyspaces/{{keyspaceid}}/columnfamilys/{{columnfamilyid}}/entrys/",
        type: "POST",
        contentType: "application/json",
        data: '{ "{{fields[0][2]}}" : "' + $('#{{fields[0][2]}}').val() + '", "{{fields[1][2]}}" : "' + $("#{{fields[1][2]}}").val() + '", "{{fields[2][2]}}" : "' + $("#{{fields[2][2]}}").val() + '" }',
        success: function(html){
            $(".modal_spin").css("display","none" );
            $(location).attr('href', 'http://127.0.0.1:5000/keyspaces/{{keyspaceid}}/columnfamilys/{{columnfamilyid}}/entrys/')
        }
      });
    });
  });

</script>   
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"  class="active"><a href="#">Entries</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Cassandra Browser</h3>
        </div>

         <div class = "table-responsive">
         <h3>Select Entries : </h3>
          <table class = "table table-hover">
            <thead>
            <tr>
            <th> S.No </th>
            {% for i in fields %}
            <th>{{i[2]}}</th>
            {% endfor %}
            </tr>
            </thead>
          <tbody>
            {% set x = 1 %}
            {% for i in pages %}
            <tr>
               <td>{{ x }}</td>
               {% for y in range(3) %}
               <td><a href="/keyspaces/{{keyspaceid}}/columnfamilys/{{columnfamilyid}}/entrys/{{i[0]}}">{{ i[y] }}</a></td>
               {% endfor %}
               {% set x = x + 1 %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <nav class="pagination">
        <ul class="pagination">
          {% if pagination.has_prev %}
            <li>
              <a href="{{ url_for(section, page=pagination.page - 1,keyspaceid=keyspaceid,columnfamilyid=columnfamilyid) }}">&#8592;</a>
            </li>
          {% endif %}
          {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                <li>
                    <a href="{{ url_for(section, page=page, keyspaceid=keyspaceid,columnfamilyid=columnfamilyid) }}">{{ page }}</a>
                </li>
                {% else %}
                <li class="active">
                    <a href="#">{{ page }}</a>
                </li>
                {% endif %}
            {% else %}
            <li>
                <span>...</span>
            </li>
            {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li>
            <a href="{{ url_for(section, page=pagination.page + 1,keyspaceid=keyspaceid,columnfamilyid=columnfamilyid) }}">&#8594;</a>
        </li>
        {% endif %}
       </ul>
      </nav>
  
    <h3> Create a New Entry </h3>
    <br>

{% for i in fields %}

  <br>
  <form class="form-inline">
    <div class="form-group">
      <div>
      <label for="exampleInputName2">{{i[2]}}</label>
      </div>
      <br>
      <input type="text" class="form-control" id="{{i[2]}}" placeholder="{{i[2]}} value">
    </div>
  </form>

{% endfor %}
  <br>
  <div>
    <button id="cteEntryFunc" type="button" class="btn btn-default">Create Entry</button>
  </div>

    <br>
    <br>
 	  <footer class="footer">
      <p>Team 15 &copy; Company 2015</p>
    </footer>
    </div>
  </body>
  <div class="modal_spin"></div>
</html>
