<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Cassandra Browser</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <style type="text/css">
    .modal_spin {
      display:    none;
      position:   fixed;
      z-index:    1050;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      background: rgba( 255, 255, 255, .8 ) 
                  url('http://i.stack.imgur.com/FhHRx.gif') 
                  50% 50% 
                  no-repeat;
    }
    </style>
<script>

$(document).ready(function(){
    $("#attNodeFunc").click(function(){
      $(".modal_spin").css("display","block" );
      $.ajax({
        url: "/nodes/",
        type: "POST",
        contentType: "application/json",
        data: '{ "username" : "' + $('#inputUsername').val() + '", "password" : "' + $("#inputPassword").val() + '", "ip" : "' + $("#inputIp").val() + '" }',
        success: function(html){
            $(location).attr('href', 'http://127.0.0.1:5000/nodes/')
        }
      });
    });
  });

</script>   
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"  class="active"><a href="#">Nodes</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Cassandra Browser</h3>
        </div>

         <div class = "table-responsive">
         <h3>Select Node : </h3>
          <table class = "table table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Node Ip</th>
            </tr>
            </thead>
          <tbody>
            {% set x = 1 %}
            {% for i in pages %}
            <tr>
               <td>{{ x }}</td>
               <td><a href="/nodes/{{x}}">{{ i }}</a></td>
               {% set x = x + 1 %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <nav class="pagination">
        <ul class="pagination">
          {% if pagination.has_prev %}
            <li>
              <a href="{{ url_for(section, page=pagination.page - 1) }}">&#8592;</a>
            </li>
          {% endif %}
          {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                <li>
                    <a href="{{ url_for(section, page=page) }}">{{ page }}</a>
                </li>
                {% else %}
                <li class="active">
                    <a href="#">{{ page }}</a>
                </li>
                {% endif %}
            {% else %}
            <li>
                <span>...</span>
            </li>
            {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li>
            <a href="{{ url_for(section, page=pagination.page + 1) }}">&#8594;</a>
        </li>
        {% endif %}
       </ul>
      </nav>
  
    <h3> Attach a New Node </h3>
    <br>
    <div class="container">
      <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
      <br>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" autofocus="">
      <br>
      <input type="text" id="inputIp" class="form-control" placeholder="IP" required="" autofocus="">
      <br>
      <button id="attNodeFunc" type="button" class="btn btn-default">Attach Node</button>
    </div>

    <br>
    <br>
 	  <footer class="footer">
      <p>Team 15 &copy; Company 2015</p>
    </footer>
    </div>
  </body>
  <div class="modal_spin"></div>
</html>
